VITE_SUPABASE_URL=https://kdlxvpspozwqkabztpmh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkbHh2cHNwb3p3cWthYnp0cG1oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwNzU5MTcsImV4cCI6MjEwMTY1MTkxN30.hNdMKcHvhZHEf9pxwN5GnIA6cppwUakK1a1BobA-xzM
VITE_API_BASE_URL=http://localhost:8000